@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border-2 border-gray-400 rounded-md px-1 w-full;
  @apply mb-2;
}
input:focus,
textarea:focus {
  @apply border-blue-900;
}
h1 {
  @apply text-blue-900 mb-2 text-2xl;
}

label {
  @apply text-blue-900;
}

.btn-primary {
  @apply disabled:bg-blue-200 disabled:cursor-not-allowed hover:no-underline bg-blue-500 tracking-wider w-full text-center text-white font-bold cursor-pointer uppercase px-4 py-2 rounded-md hover:bg-blue-600 transition-colors block;
}

.link-p {
  @apply  hover:bg-yellow-100 hover:rounded-md focus:bg-yellow-200 active:bg-yellow-300 focus:ring focus:outline-none focus:ring-yellow-200;
}

/* lib */
.border-red {
    border: 4px solid red;
  }
  
  .border-pink {
    border: 4px solid pink;
  }
  
  .border-blue {
    border: 4px solid blue;
  }
  
  .border-green {
    border: 4px solid green;
  }
  
  .border-black {
    border: 4px solid black;
  }
  
  .border-gold {
    border: 4px solid gold;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-jc-e {
    justify-content: flex-end;
  }
  
  .flex-jc-s {
    justify-content: flex-start;
  }
  
  .flex-jc-c {
    justify-content: center;
  }
  
  .flex-jc-sb {
    justify-content: space-between;
  }
  
  .flex-ai-c {
    align-items: center;
  }
  
  .height-100p {
    height: 100%;
  }
  .height-70p {
    height: 70%;
  }
  .height-50p {
    height: 50%;
  }
  .block {
    display: block;
  }
  